/* body {
  background: #000;
}

#tsparticles canvas {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  pointer-events: none !important;
}

button {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 1000;
  font-size: 32pt;
  border-radius: 20px;
  background: #fff;
  border: none;
  cursor: pointer;
}

button:active {
  color: #f00;
} */
